/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define FN      1
#define NUMPD   2
// #define EXTRA1  3

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <275>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

/ {
       behaviors {
              // behavior-mod-morph's for the top row symbols.
              pos_1: pos_1 {
                     label = "Grave | Exclamation";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp GRAVE>, <&kp EXCL>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              hpos_1: hold_pos_1 {
                     compatible = "zmk,behavior-hold-tap";
                     #binding-cells = <2>;
                     flavor = "hold-preferred";
                     tapping-term-ms = <400>;
                     quick-tap-ms = <200>;
                     bindings = <&pos_1>, <&kp>;
              };
              pos_2: pos_2 {
                     label = "LBKT | AT_SIGN";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp LBKT>, <&kp AT_SIGN>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_3: pos_3 {
                     label = "LBRC | HASH";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp LBRC>, <&kp HASH>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_4: pos_4 {
                     label = "LPAR | DOLLAR";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp LPAR>, <&kp DOLLAR>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_5: pos_5 {
                     label = "HOME | PERCENT";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp HOME>, <&kp PERCENT>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_6: pos_6 {
                     label = "END | CARET";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp END>, <&kp CARET>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_7: pos_7 {
                     label = "RPAR | AMPERSAND";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp RPAR>, <&kp AMPERSAND>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_8: pos_8 {
                     label = "RBRC | ASTERISK";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp RBRC>, <&kp ASTERISK>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_9: pos_9 {
                     label = "RBKT | LPAR";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&kp RBKT>, <&kp LPAR>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };
              pos_10: pos_10 {
                     label = "JetBrains Comment Combo | RPAR";
                     compatible = "zmk,behavior-mod-morph";
                     #binding-cells = <0>;
                     bindings = <&jtbr_cmt>, <&kp RPAR>;
                     mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
              };

       };
       combos {
              compatible = "zmk,combos";
              // COMBO(zmk_studio_unlock,    &studio_unlock, 53 0)
              COMBO(go_to_function_layer, &tog FN, 53 54)
              COMBO(go_to_numpd_layer,    &tog NUMPD, 53 55)
              COMBO(bt_profile_one,       &bt BT_SEL 0, 53 1)
              COMBO(bt_profile_two,       &bt BT_SEL 1, 53 2)
              COMBO(bt_profile_three,     &bt BT_SEL 2, 53 3)
              COMBO(bt_profile_four,      &bt BT_SEL 3, 53 4)
              COMBO(bt_profile_five,      &bt BT_SEL 4, 53 5)
       };

       macros {
              fst_cp: fst_cp {
                     label = "single_key_copy";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL>
                            , <&macro_tap &kp C>
                            , <&macro_release &kp LCTRL>
                            ;
              };
              fst_pt: fst_pt {
                     label = "single_key_paste";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL>
                            , <&macro_tap &kp V>
                            , <&macro_release &kp LCTRL>
                            ;
              };
              sft_pt: sft_pt {
                     label = "Paste with no formatting";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL &kp LSHFT>
                            , <&macro_tap &kp V>
                            , <&macro_release &kp LCTRL &kp LSHFT>
                            ;
              };
              spc_l: spc_l {
                     label = "Change Virtual Desktop Left";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LGUI &kp LCTRL>
                            , <&macro_tap &kp LEFT>
                            , <&macro_release &kp LGUI &kp LCTRL>
                            ;
              };
              spc_r: spc_r {
                     label = "Change Virtual Desktop Right";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LGUI &kp LCTRL>
                            , <&macro_tap &kp RIGHT>
                            , <&macro_release &kp LGUI &kp LCTRL>
                            ;
              };
              jtbr_cmt: jtbr_cmt {
                     label = "JetBrains comment";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL>
                            , <&macro_tap &kp SLASH>
                            , <&macro_release &kp LCTRL>
                            ;
              };
       };


       keymap {
              compatible = "zmk,keymap";
              default_layer {
// COMBOS will be used to access the standard top row symbols.
//     ----------------------------------------------------------------         ----------------------------------------------------------------
//     | EQL  | GRV  |  [   |  {   |  (   | HOME |                                                   | END  |  )   |  }   |  ]   | CMNT | MINS |
//     | TAB  |  Q   |  W   |  E   |  R   |  T   |                                                   |  Y   |  U   |  I   |  O   |  P   | BSLS |
//     | ESC  |  A   |  S   |  D   |  F   |  G   |                                                   |  H   |  J   |  K   |  L   | SCLN | QUOT |
//     | SHFT |  Z   |  X   |  C   |  V   |  B   |      | CTL  | ALT  |         | PGUP | CTL  |      |  N   |  M   | COMM | DOT  | SLSH | SHFT |
//            | GRV  | MOD  | LEFT | RGHT |      | BSPC | DEL  | HOME |         | PGDN | ENT  | SPC  |      |  UP  |  DN  | LBKT | RBKT |
//                                                             | WIN  |         | WIN  |
                     bindings = <
       &kp EQUAL  &hpos_1 0 F2 &pos_2   &pos_3   &pos_4    &pos_5                                                                 &pos_6    &pos_7    &pos_8    &pos_9     &pos_10      &kp MINUS
       &kp TAB    &kp Q     &kp W    &kp E    &kp R     &kp T                                                                     &kp Y     &kp U     &kp I     &kp O      &kp P        &kp BSLH
       &kp ESC    &kp A     &kp S    &kp D    &kp F     &kp G                                                                     &kp H     &kp J     &kp K     &kp L      &kp SEMI     &kp APOS
       &sk LSHFT  &kp Z     &kp X    &kp C    &kp V     &kp B            &sk LCTRL  &kp LALT      &kp PG_UP &sk RCTRL             &kp N     &kp M     &kp COMMA &kp PERIOD &kp SLASH    &sk RSHFT
                  &kp TILDE &to 0    &kp LEFT &kp RIGHT        &kp BSPC  &kp DEL    &kp HOME      &kp PG_DN &kp ENTER &kp SPACE             &kp UP    &kp DOWN  &kp LBKT   &kp RBKT
                                                                                    &kp LGUI      &kp RGUI
                     >;
              };
              fn_layer {
// (NOTE: replacing &trans layer with &to 0 "MOD" to reset to base layer reduce cognative load after using layer).
//     ----------------------------------------------------------------         ----------------------------------------------------------------
//     |  F1  |  F2  |  F3  |  F4  |  F5  |  F6  |                                                   |  F7  |  F8  |  F9  |  F10 |  F11 |  F12 |
//     |      |      |      |      |      |      |                                                   |      |      |      |      |      |      |
//     |BT_CLR|      |      |      |      |      |                                                   |      |      |      |      |      |      |
//     |      |      |      |      |      |PRTSCR|      |      |      |         |      |      |      |      |      |      |      |      |      |
//            |INSERT| MOD  |      |      |      |      |      |      |         |      |      |      |      |      |      |      |      |
//                                                             |      |         |      |
                     bindings = <
       &kp F1     &kp F2  &kp F3   &kp F4   &kp F5    &kp F6                                                                    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11 &kp F12
       &to 0      &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &to 0     &to 0     &to 0     &sft_pt  &to 0
       &bt BT_CLR &to 0   &to 0    &to 0    &spc_l    &to 0                                                                     &to 0     &spc_r    &to 0     &to 0     &to 0    &to 0
       &to 0      &to 0   &to 0    &fst_cp  &fst_pt   &kp PSCRN           &to 0     &to 0         &to 0     &to 0               &to 0     &to 0     &to 0     &to 0     &to 0    &to 0
                  &kp INS &to 0    &to 0    &to 0               &to 0     &to 0     &to 0         &to 0     &to 0     &to 0               &to 0     &to 0     &to 0     &to 0
                                                                                    &to 0         &to 0
                     >;
              };
              numpd_layer {
//     ----------------------------------------------------------------         ----------------------------------------------------------------
//     |      |      |      |      |      |      |                                                   |      | NLCK |  =   |  /   |  *   |      |
//     |      |      |      |      |      |      |                                                   |      |  7   |  8   |  9   |  -   |      |
//     |BT_CLR|      |      |      |      |      |                                                   |      |  4   |  5   |  6   |  +   |      |
//     |      |      |      |      |      | PTSC |      |      |      |         |      |      |      |      |  1   |  2   |  3   | ENT  |      |
//            |      | MOD  |      |      |      |      |  FN  |      |         |      |      |  0   |      |      |      |  .   | ENT  |
//                                                             |      |         |      |
                     bindings = <
       &to 0      &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &kp KP_NUM &kp EQL   &kp SLASH &kp STAR  &to 0
       &to 0      &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &kp N7     &kp N8    &kp N9    &kp MINUS &to 0
       &bt BT_CLR &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &kp N4     &kp N5    &kp N6    &kp PLUS  &to 0
       &to 0      &to 0   &to 0    &to 0    &to 0     &to 0               &to 0     &to 0         &to 0     &to 0               &to 0     &kp N1     &kp N2    &kp N3    &kp ENTER &to 0
                  &to 0   &to 0    &to 0    &to 0               &to 0     &to 0     &to 0         &to 0     &to 0     &kp N0              &to 0      &to 0     &kp DOT   &kp ENTER
                                                                                    &to 0         &to 0
                     >;
              };
              // extra1 {
              //        status = "reserved";
              // };
       };
};
