/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define FN      1
#define NUMPD   2
// #define EXTRA1  3

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <475>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

/ {
       
       combos {
              compatible = "zmk,combos";
              // COMBO(zmk_studio_unlock,    &studio_unlock, 53 0)
              COMBO(go_to_function_layer, &tog FN, 53 54)
              COMBO(go_to_numpd_layer,    &tog NUMPD, 53 55)
              COMBO(bt_profile_one,       &bt BT_SEL 0, 53 1)
              COMBO(bt_profile_two,       &bt BT_SEL 1, 53 2)
              COMBO(bt_profile_three,     &bt BT_SEL 2, 53 3)
              COMBO(bt_profile_four,      &bt BT_SEL 3, 53 4)
              COMBO(bt_profile_five,      &bt BT_SEL 4, 53 5)
              // combos to enable the standard symbols in the top row. (using CTRL key(s) instead for now).
              COMBO(lshift_to_bang,        &kp EXCL, 42 1)
              COMBO(rshift_to_bang,        &kp EXCL, 45 1)
              COMBO(lshift_to_at_sign,     &kp AT_SIGN, 42 2)
              COMBO(rshift_to_at_sign,     &kp AT_SIGN, 45 2)
              COMBO(lshift_to_hash,        &kp HASH, 42 3)
              COMBO(rshift_to_hash,        &kp HASH, 45 3)
              COMBO(lshift_to_dollar,      &kp DOLLAR, 42 4)
              COMBO(rshift_to_dollar,      &kp DOLLAR, 45 4)
              COMBO(lshift_to_percent,     &kp PERCENT, 42 5)
              COMBO(rshift_to_percent,     &kp PERCENT, 45 5)
              COMBO(lshift_to_carrot,      &kp CARET, 42 6)
              COMBO(rshift_to_carrot,      &kp CARET, 45 6)
              COMBO(lshift_to_ampersand,   &kp AMPERSAND, 42 7)
              COMBO(rshift_to_ampersand,   &kp AMPERSAND, 45 7)
              COMBO(lshift_to_asterisk,    &kp ASTERISK, 42 8)
              COMBO(rshift_to_asterisk,    &kp ASTERISK, 45 8)
              COMBO(lshift_to_lpar,        &kp LPAR, 42 9)
              COMBO(rshift_to_lpar,        &kp LPAR, 45 9)
              COMBO(lshift_to_rpar,        &kp RPAR, 42 10)
              COMBO(rshift_to_rpar,        &kp RPAR, 45 10)
       };

       macros {
              fst_cp: fst_cp {
                     label = "single_key_copy";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL>
                            , <&macro_tap &kp C>
                            , <&macro_release &kp LCTRL>
                            ;
              };
              fst_pt: fst_pt {
                     label = "single_key_paste";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL>
                            , <&macro_tap &kp V>
                            , <&macro_release &kp LCTRL>
                            ;
              };
              sft_pt: sft_pt {
                     label = "Paste with no formatting";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL &kp LSHFT>
                            , <&macro_tap &kp V>
                            , <&macro_release &kp LCTRL &kp LSHFT>
                            ;
              };
              spc_l: spc_l {
                     label = "Change Virtual Desktop Left";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LGUI &kp LCTRL>
                            , <&macro_tap &kp LEFT>
                            , <&macro_release &kp LGUI &kp LCTRL>
                            ;
              };
              spc_r: spc_r {
                     label = "Change Virtual Desktop Right";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LGUI &kp LCTRL>
                            , <&macro_tap &kp RIGHT>
                            , <&macro_release &kp LGUI &kp LCTRL>
                            ;
              };
              jtbr_cmt: jtbr_cmt {
                     label = "JetBrains comment";
                     compatible = "zmk,behavior-macro";
                     #binding-cells = <0>;
                     bindings
                            = <&macro_press &kp LCTRL>
                            , <&macro_tap &kp SLASH>
                            ;
              };
       };


       keymap {
              compatible = "zmk,keymap";
              default_layer {
// COMBOS will be used to access the standard top row symbols.
//     ----------------------------------------------------------------         ----------------------------------------------------------------
//     | EQL  | GRV  |  [   |  {   |  (   | HOME |                                                   | END  |  )   |  }   |  ]   | CMNT | MINS |
//     | TAB  |  Q   |  W   |  E   |  R   |  T   |                                                   |  Y   |  U   |  I   |  O   |  P   | BSLS |
//     | ESC  |  A   |  S   |  D   |  F   |  G   |                                                   |  H   |  J   |  K   |  L   | SCLN | QUOT |
//     | SHFT |  Z   |  X   |  C   |  V   |  B   |      | CTL  | ALT  |         | PGUP | CTL  |      |  N   |  M   | COMM | DOT  | SLSH | SHFT |
//            | GRV  | MOD  | LEFT | RGHT |      | BSPC | DEL  | HOME |         | PGDN | ENT  | SPC  |      |  UP  |  DN  | LBKT | RBKT |
//                                                             | END  |         | WIN  |
                     bindings = <
        &kp EQUAL  &kp GRAVE &kp LBKT &kp LBRC &kp LPAR  &kp HOME                                                                  &kp END   &kp RPAR  &kp RBRC  &kp RBKT     &jtbr_cmt &kp MINUS
        &kp TAB    &kp Q     &kp W    &kp E    &kp R     &kp T                                                                     &kp Y     &kp U     &kp I     &kp O        &kp P     &kp BSLH
        &kp ESC    &kp A     &kp S    &kp D    &kp F     &kp G                                                                     &kp H     &kp J     &kp K     &kp L        &kp SEMI  &kp APOS
        &kp LSHFT  &kp Z     &kp X    &kp C    &kp V     &kp B               &kp LCTRL &kp LALT      &kp PG_UP &kp RCTRL           &kp N     &kp M     &kp COMMA &kp PERIOD   &kp SLASH &kp RSHFT
                   &kp GRAVE &to 0    &kp LEFT &kp RIGHT           &kp BSPC  &kp DEL   &kp HOME      &kp PG_DN &kp ENTER &kp SPACE           &kp UP    &kp DOWN  &kp LBKT     &kp RBKT
                                                                                       &kp END       &kp LGUI
                     >;
              };
              fn_layer {
// (NOTE: replacing &trans layer with &to 0 "MOD" to reset to base layer reduce cognative load after using layer).
//     ----------------------------------------------------------------         ----------------------------------------------------------------
//     |  F1  |  F2  |  F3  |  F4  |  F5  |  F6  |                                                   |  F7  |  F8  |  F9  |  F10 |  F11 |  F12 |
//     |      |      |      |      |      |      |                                                   |      |      |      |      |      |      |
//     |BT_CLR|      |      |      |      |      |                                                   |      |      |      |      |      |      |
//     |      |      |      |      |      |PRTSCR|      |      |      |         |      |      |      |      |      |      |      |      |      |
//            |INSERT| MOD  |      |      |      |      |      |      |         |      |      |      |      |      |      |      |      |
//                                                             |      |         |      |
                     bindings = <
        &kp F1     &kp F2  &kp F3   &kp F4   &kp F5    &kp F6                                                                    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11 &kp F12
        &to 0      &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &to 0     &to 0     &to 0     &sft_pt  &to 0
        &bt BT_CLR &to 0   &to 0    &to 0    &spc_l    &to 0                                                                     &to 0     &spc_r    &to 0     &to 0     &to 0    &to 0
        &to 0      &to 0   &to 0    &fst_cp  &fst_pt   &kp PSCRN           &to 0     &to 0         &to 0     &to 0               &to 0     &to 0     &to 0     &to 0     &to 0    &to 0
                   &kp INS &to 0    &to 0    &to 0               &to 0     &to 0     &to 0         &to 0     &to 0     &to 0               &to 0     &to 0     &to 0     &to 0
                                                                                     &to 0         &to 0
                     >;
              };
              numpd_layer {
//     ----------------------------------------------------------------         ----------------------------------------------------------------
//     |      |      |      |      |      |      |                                                   |      | NLCK |  =   |  /   |  *   |      |
//     |      |      |      |      |      |      |                                                   |      |  7   |  8   |  9   |  -   |      |
//     |BT_CLR|      |      |      |      |      |                                                   |      |  4   |  5   |  6   |  +   |      |
//     |      |      |      |      |      | PTSC |      |      |      |         |      |      |      |      |  1   |  2   |  3   | ENT  |      |
//            |      | MOD  |      |      |      |      |  FN  |      |         |      |      |  0   |      |      |      |  .   | ENT  |
//                                                             |      |         |      |
                     bindings = <
        &to 0      &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &kp KP_NUM &kp EQL   &kp SLASH &kp STAR  &to 0
        &to 0      &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &kp N7     &kp N8    &kp N9    &kp MINUS &to 0
        &bt BT_CLR &to 0   &to 0    &to 0    &to 0     &to 0                                                                     &to 0     &kp N4     &kp N5    &kp N6    &kp PLUS  &to 0
        &to 0      &to 0   &to 0    &to 0    &to 0     &to 0               &to 0     &to 0         &to 0     &to 0               &to 0     &kp N1     &kp N2    &kp N3    &kp ENTER &to 0
                   &to 0   &to 0    &to 0    &to 0               &to 0     &to 0     &to 0         &to 0     &to 0     &kp N0              &to 0      &to 0     &kp DOT   &kp ENTER
                                                                                     &to 0         &to 0
                     >;
              };
              // extra1 {
              //        status = "reserved";
              // };
    };
};
